{% extends 'index.html' %}

{% block content %}
    <h1> Listing Page </h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Details</th>
        </tr>
        {% for p in persons %}
        <tr>
            <td>{{p.id}}</td>
            <td>
                <a href="{% url 'snippets:detail' p.id %}"> {{ p.first_name }} </a>
            </td>
        </tr>
        {% endfor %}

    </table>

    <h1>Create New Entry</h1>
    <form action="../add-new/" method='post'>
        
        {% csrf_token %}

        <label for="">FirstName</label>
        <input type="text" name="first_name" id=""> <br>
        <label for="">LastName</label>
        <input type="text" name="last_name" id=""> <br>
        <input type="submit" name="" id="">
    </form>
    
{% endblock %}